<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <title>Listing Daily Requests</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong class="panel-title">日別申請一覧</strong>
              <a href="/daily_requests/new" class="btn btn-default btn-xs pull-right">新規作成</a>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>ステータス</th>
                  <th>件数</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="dailyRequest:${dailyRequests}" th:object="${dailyRequest}">
                  <td th:text="*{id}"></td>
                  <td th:text="*{statusTypeName}"></td>
                  <td th:text="*{requests.size()}"></td>
                  <td><a class="btn btn-default btn-xs" th:href="@{/daily_requests/{id}(id=*{id})}">参照</a></td>
                  <td><a class="btn btn-default btn-xs" th:href="@{/daily_requests/{id}/edit(id=*{id})}">編集</a></td>
                  <td>
                    <form th:action="@{/daily_requests/{id}(id=*{id})}" th:method="delete">
                      <button class="btn btn-default btn-xs">削除</button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="/home" class="btn btn-link pull-right">トップページへ</a>
        </div>
      </div>
    </div>
  </body>
</html>
