<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <title>New Daily Request</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong class="panel-title">新規日別申込作成</strong>
            </div>
            <div class="panel-body">
              <form th:method="post" th:action="@{/daily_requests}" th:object="${dailyRequest}">
                <div class="form-group">
                  <button class="btn btn-primary pull-right">作成</button>
                </div>
              </form>
            </div>
          </div>
          <a href="/daily_requests" class="btn btn-link pull-right">一覧画面へ</a>
        </div>
      </div>
    </div>
  </body>
</html>
