<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong class="panel-title">ログイン</strong>
            </div>
            <div class="panel-body">
              <form th:method="post" th:action="@{/auth}">
                <div class="form-group">
                  <label class="control-label">ユーザ名</label>
                  <input class="form-control" type="text" name="username" placeholder="user1 or user2" />
                </div>
                <div class="form-group">
                  <label class="control-label">パスワード</label>
                  <input class="form-control" type="text" name="password" placeholder="pass" />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary pull-right">ログイン</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
