<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <title>Home</title>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong class="panel-title">メニュー</strong>
            </div>
            <div class="list-group">
              <a sec:authorize="hasRole('ADMIN')" href="/players" class="list-group-item">選手管理</a>
              <a href="/requests" class="list-group-item">申込一覧</a>
              <a href="/daily_requests" class="list-group-item">日別申込一覧</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
